<?xml version="1.0" ?>
<model>
    <name>color_wall_marker</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Marc Hanheide</name>
        <email>marc@hanheide.net</email>
    </author>
    <description>a simple coloured marker</description>
</model>
