<launch>
 <!-- Gazebo config -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="world_name" value="$(find uol_turtlebot_simulator)/worlds/labC.world"/>
  </include>
</launch>

