<launch>
  <arg name="map_file" default="$(find uol_turtlebot_simulator)/maps/labC-cropped.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
  <param name="frame_id" value="/map" />
  </node>

  <!-- Launch for multi robots -->
  <include file="$(find uol_turtlebot_simulator)/launch/multi-robots.launch.xml" />
</launch>

