<?xml version="1.0"?>

<model>
  <name>cmp9767m_cropweed</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Grzegorz Cielniak</name>
    <email>gcielniak@lincoln.ac.uk</email>
  </author>

  <description>
    Realistic crop/weed textures
  </description>
</model>
